<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
       <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>-->

        <title>Työntekijän Tuntikalenteri</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
 
        
    </head>
    <body>
        <div class="entry">
            <h1 class="oma_h1"><a class="oma_a" href="./index.html">Pehtoori</a></h1>
        </div>
         
        <div class="omaentry">
            <nav id="head">
            </nav>
            <section>
                <h1 class="oma_h1">Lisää uusi tehtävä</h1>
        
                <form method="post" enctype="application/json" action="/tasks">  
                    <h4 class="oma_h4">Aika:</h4>
                    <input type="text" required placeholder="Aika" name ="Aika"/>
                    <h4 class="oma_h4">Henkilö:</h4>
                    <input type="text"  placeholder="Henkilö" name ="Henkilö" />
                    <h4 class="oma_h4">Tehtävä:</h4>
                    <select name="Tehtävä">
                        <option value="Asiakas">Asiakas</option>
                        <option value="Toimisto">Toimisto</option>
                        <option value="Talli">Talli</option>
                        <option value="Muut työt">Muut työt</option>
                    </select>
<!--                    <input type="text"  placeholder="Tehtävä" name ="Tehtävä" />-->
                    <h4 class="oma_h4">Tunnit:</h4>
                    <input type="number"  placeholder="Tunnit" name ="Tunnit" /><br><br>
                    <input type="submit" value="Lisää"/>
                    <input Type="submit" value="Peruuta" onClick="history.go(-1);return true;"><br><br>
                </form>
            </section>
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>   
</html>