<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
       <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>-->

        <title>Hevosten Tarhauskalenteri</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
 
        
    </head>
    <body>
        <div class="entry">
            <h1 class="oma_h1"><a class="oma_a" href="./main.html">Pehtoori</a></h1>
        </div>
         
        <div class="omaentry">
            <nav id="head">
            </nav>
            <section>
                <h1 class="oma_h1">Lisää tarhausaikoja</h1>
        
                <form method="post" enctype="application/json" action="/paddocs">
                    <h4 class="oma_h4">Hevonen:</h4>
                        <div class="horses_add"></div>
                       <!-- <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Hevonen" name ="Hevonen"/>-->
                    <h4 class="oma_h4">Aamutarha:</h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Aamutarha" name ="Aamutarha"/>
                    <h4 class="oma_h4">Päivätarha:</h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Päivätarha" name ="Päivätarha"/>
                    <h4 class="oma_h4">Iltatarha:</h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Iltatarha" name ="Iltatarha"/>
                    <h4 class="oma_h4">Huomio:</h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Huomio" name ="Huomio"/><br><br>
                    <input type="submit" class='btn btn-primary' value="Lisää"/>
                    <input Type="submit" class='btn btn-primary' value="Peruuta" onClick="history.go(-1);return true;"><br><br>
                </form>
            </section>
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>   
</html>