<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
       <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>-->

        <title>Tallin Yhteystiedot</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
 
        
    </head>
    <body>
       <div class="entry">
            <h1 class="oma_h1">
                <div class="oma_a">
                    Pehtoori
                    <p id="theUser"> </p>
                </div>
            </h1>
        </div>
         
        <div class="omaentry">
            <nav id="head">
            </nav>
            <section>
                <h1 class="oma_h1">Lisää henkilö</h1>
        
                <form method="post" enctype="application/json" action="/persons">  
                    <h4 class="oma_h4">Nimi:</h4>
                    <input type="text" required  class="form-control text-center center-block" style = "width:300px" placeholder="Nimi" name ="Nimi"/>
                    <h4 class="oma_h4">Osoite:</h4>
                    <input type="text"   class="form-control text-center center-block" style = "width:300px" placeholder="Osoite" name ="Osoite" />
                    <h4 class="oma_h4">Kategoria:</h4>
                    <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Kategoria" name ="Kategoria" min="0" />
                    <h4 class="oma_h4">Puhelin:</h4>
                    <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="12345678" name ="Puhelin" />
                    <h4 class="oma_h4">Sähköposti:</h4>
                    <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="email@com" name ="Sähköposti" />
                    <h4 class="oma_h4">Internet:</h4>
                    <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="www sivulinkki" name ="Internet" /><br><br>
                    <input type="submit" class='btn btn-primary' value="Lisää"/>
                    <input Type="submit" class='btn btn-primary' value="Peruuta" onClick="history.go(-1);return true;"/><br><br>
                </form>
            </section>
            <footer class="footer_text"></footer>
            
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>   
</html>