<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Person Add</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
        
    </head>
    <body>
        <div class="entry">
            <div id="includedMenu"></div>
        </div>
         
        <div class="omaentry">
            <nav id="head">
            </nav>
            <section>
                <h1 class="oma_h1">Lisää Tunteja</h1>
        
                <form method="post" enctype="application/json" action="/hours">
                    <h4 class="oma_h4">Kellonaika: </h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Kellonaika" name ="Kellonaika"/>
                    <h4 class="oma_h4">Maanantai: </h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Maanantai" name ="Maanantai"/>
                    <h4 class="oma_h4">Tiistai: </h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Tiistai" name ="Tiistai"/>
                    <h4 class="oma_h4">Keskiviikko: </h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Keskiviikko" name ="Keskiviikko"/>
                    <h4 class="oma_h4">Torstai: </h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Torstai" name ="Torstai"/>
                    <h4 class="oma_h4">Perjantai: </h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Perjantai" name ="Perjantai"/>
                    <h4 class="oma_h4">Lauantai: </h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Lauantai" name ="Lauantai"/>
                    <h4 class="oma_h4">Sunnuntai: </h4>
                        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Sunnuntai" name ="Sunnuntai"/><br><br>
                    <input type="submit" class='btn btn-primary' value="Lisää"/>
                    <input Type="submit" class='btn btn-primary' value="Peruuta" onClick="history.go(-1);return true;"><br><br>
                </form>
            </section>
            <footer class="footer_text"></footer>
            
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>   
</html>