<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
       <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>-->

        <title>Tallin Ilmoitustaulu</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
 
        
    </head>
    <body>
       <div class="entry">
            <h1 class="oma_h1"><a class="oma_a" href="./index.html">Pehtoori</a></h1>
        </div>
         
        <div class="omaentry">
            <nav id="head">
            </nav>
            <section>
                <h1 class="oma_h1">Lisää ilmoitus</h1>
                <form method="post" enctype="application/json" action="/todos">        
                    <h4 class="oma_h4">Ilmoitus:</h4>
                    <select name="Ilmoitus">
                        <option value="Vika">Vika</option>
                        <option value="Puute">Puute</option>
                        <option value="Toive">Toive</option>
                        <option value="Kiitos">Kiitos</option>
                    </select>
                    <h4 class="oma_h4">Kuvaus:</h4>
                    <input type="text" placeholder="Kuvaus" name ="Kuvaus" />
                    <h4 class="oma_h4">Toimenpide:</h4>
                    <input type="text" placeholder="Toimenpide" name ="Toimenpide" /><br><br>
                    <input type="submit" value="Lisää"/>
                    <input Type="submit" value="Peruuta" onClick="history.go(-1);return true;"><br><br>
                </form>
            </section>
               
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>   
</html>