<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">

        <!--
        <meta charset="utf-8">/meta>
        -->
        <title>Hevosten Terveys</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        
        
    </head>
    <body>
        <div class="entry">
            <h1 class="oma_h1">
                <div class="oma_a">
                    Pehtoori
                    <p id="theUser"> </p>
                </div>
            </h1>
            <div id="includedMenu"></div>
        </div>
        
        <div class="omaentry">
 
            <section>
                <h1 class="oma_h1">Hevosten Terveys</h1>
                 <table class ="oma_table">
                    <thead class ="thead_oma">
                    </thead>
                    
                    <tbody class ="tbody_oma">
                    </tbody>
                </table>
                
                <table>
                    <br>
                    <form action="addHealth.html">
                            <input class='btn btn-primary' type="submit" value="Lisää Terveystietoja">
                    </form>
                    <br><br>  
                </table>
                
            </section>
            <footer>
                Copyright by Jarmo Leskinen
            </footer>
        </div>
        
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script src="../controllers/scripts.js"></script>

    </body>      
</html>