<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Pehtoori</title>
        <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="../css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"/>
        
    </head>
    <body>
        <div class="entry">
            <h3 class="h3_bold">Login/Register to Pehtoori</h3>
            <form>
                <input id="username" type="text" placeholder="username" class="form-control text-center center-block" style = "width:300px" style = "inline-block"><br>
                <input id="password" type="password" placeholder="password" class="form-control text-center center-block" style = "width:300px"><br>
                <input id="login" type="button" class="btn btn-primary" value="Login"> or
                <input id="register" type="button" class="btn btn-primary" value="Register">
            </form><br>
            <p id="status">Not Logged In</p>
            <footer>
                Copyright by Jarmo Leskinen
            </footer>
        </div>
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script src="../controllers/login_scripts.js"></script>
    </body>
</html>