<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Pehtoori</title>
        <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="../css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        <link href="../css/styles.css" type="text/css" rel="stylesheet"/>
        
    </head>
    <body>
        <div class="omaentry">

            <h2 class="oma_h2">Pehtoori</h2>

            <h3 class="oma_h3" align="left">Pehtoori on hevostallin työntekijöille ja omistajille suunnattu sivusto, jonka tarkoitus on helpottaa tallin päivittäisten rutiinien hoitamista.
                Pehtoorin avulla voit helposti pitää kirjaa ja suunnitella tallin, työntekijöiden sekä hevosten päivittäiseen toimintaan liittyviä asioita. 
                Pehtoori on selainpohjainen ohjelmisto jonka käyttö onnistuu useimmilla päätelaittella, joilla on mahdollista saada yhteys internettiin.
            </h3>
        </div>
        <div class="omaentry">
            <h3 class="h3_bold">Login/Register to Pehtoori</h3>
            <form>
                <input id="username" type="text" placeholder="username" class="form-control text-center center-block" style = "width:300px" style = "inline-block"><br>
                <input id="password" type="password" placeholder="password" class="form-control text-center center-block" style = "width:300px"><br>
                <input id="login" type="button" class="btn btn-primary" value="Login"> or
                <input id="register" type="button" class="btn btn-primary" value="Register">
            </form><br>
            <p id="status">Not Logged In</p>
            <footer class="footer_text"></footer>
        </div>
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script src="../controllers/login_scripts.js"></script>
    </body>
</html>