<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Pehtoorin Etusivu</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        
        
    </head>
    <body>
        <div class="entry">
            <h1 class="oma_h1">
                <div class="oma_a">
                    Pehtoori
                    <p id="theUser"> </p>
                </div>
            </h1>
            <div id="includedMenu"></div>
        </div>
        
        <div class="omaentry">

            <div class="oma_presentation" id="includedPresentation"></div>
            
            <br><br><input Type="submit" class='btn btn-primary' value="Log out" onClick="location.href='./index.html';"><br><br>

            <footer><br><br><br>
                Copyright by Jarmo Leskinen
            </footer>    
        </div>
        
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>      
</html>