<br>
<a class='btn btn-primary btn-sm' href="main.html">Etusivu</a>
<a class='btn btn-primary btn-sm' href="person.html">Henkilöt</a>
<a class='btn btn-primary btn-sm' href="horse.html">Hevoset</a>
<a class='btn btn-primary btn-sm' href="feed.html">Ruokinta</a>
<a class='btn btn-primary btn-sm' href="todo.html">Ilmoitukset</a>
<a class='btn btn-primary btn-sm' href="hourcalendar.html">Henkilötunnit</a>
<a class='btn btn-primary btn-sm' href="stablecalendar.html">Tallikalenteri</a>
<a class='btn btn-primary btn-sm' href="paddoc.html">Tarhauskalenteri</a>
<a class='btn btn-primary btn-sm' href="horsecalendar.html">Hevostunnit</a>
<a class='btn btn-primary btn-sm' href="health.html">Terveys</a>
<br><br>

  <!--         <table class ="oma_table">
                <th><form action="main.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Etusivu">
                </form></th> 
                <th><form action="person.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Henkilöt">
                </form></th>
                <th><form action="horse.html">
                    <input class='btn btn-primary btn-sm' type="submit" id="Hevoset" value="Hevoset">
                </form></th>
                <th><form action="feed.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Ruokinta">
                </form></th>
                <th><form action="todo.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Ilmoitukset">
                </form></th>
                <th><form action="hourcalendar.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Henkilötunnit">
                </form></th>
                <th><form action="stablecalendar.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Tallikalenteri">
                </form></th>
                <th><form action="paddoc.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Tarhauskalenteri">
                </form></th>
                <th><form action="horsecalendar.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Hevostunnit">
                </form></th>
                <th><form action="health.html">
                    <input class='btn btn-primary btn-sm' type="submit" value="Terveys">
                </form></th>     
            </table><br><br>
-->