<br>
<a class='btn btn-primary btn-sm' href="main.html">Etusivu</a>
<a class='btn btn-primary btn-sm' href="person.html">Henkilöt</a>
<a class='btn btn-primary btn-sm' href="horse.html">Hevoset</a>
<a class='btn btn-primary btn-sm' href="feed.html">Ruokinta</a>
<a class='btn btn-primary btn-sm' href="todo.html">Ilmoitukset</a>
<a class='btn btn-primary btn-sm' href="hourcalendar.html">Henkilötunnit</a>
<a class='btn btn-primary btn-sm' href="stablecalendar.html">Tallikalenteri</a>
<a class='btn btn-primary btn-sm' href="paddoc.html">Tarhauskalenteri</a>
<a class='btn btn-primary btn-sm' href="horsecalendar.html">Hevostunnit</a>
<a class='btn btn-primary btn-sm' href="health.html">Terveys</a>
<br><br>

