<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Tallin Tuntikalenteri</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>        
        
    </head>
    <body>
        
        <div class="entry">
            <div id="includedMenu"></div>
        </div>
         
        <div class="omaentry">
            <nav id="head">
            </nav>
            <section>
                <h1 class="oma_h1">Tallin Tuntikalenteri</h1>
                <table class ="oma_table">          

                    <thead class ="thead_oma">
                    </thead>

                    <tbody class ="tbody_oma">
                    </tbody>
   
                </table>
                <table>          
                    <br>
                    <form action="addStablecalendar.html">
                            <input class='btn btn-primary' type="submit" value="Lisää Tunteja">
                    </form>
                    <br><br>    
                </table>
                
            </section>
            <footer class="footer_text"></footer>
        </div>
        
        
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>      
</html>