<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
       <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>-->

        <title>Testisivu</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">              
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
        
    </head>
    <body>
     <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Pehtoori</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./main.html">Etusivu</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hevoset
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a  href="./horse.html">Esittely</a></li>
                            <li><a  href="./feed.html">Ruokinta</a></li>
                            <li><a  href="./horsecalendar.html">Liikunta</a></li>
                            <li><a  href="./paddoc.html">Tarhaus</a></li>
                            <li><a  href="./health.html">Terveys</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Talli
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a  href="./todo.html">Ilmoitukset</a></li>
                            <li><a  href="./stablecalendar.html">Tuntikalenteri</a></li> 
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Henkilöt
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a  href="./person.html">Yhteystiedot</a></li>
                            <li><a  href="./hourcalendar.html">Työtunnit</a></li> 
                        </ul>
                    </li>
              </ul>
            </div>
          </div>
        </nav>
    </body>
</html>